name: Wait for Deployment
description: "Wait for a Kubernetes deployment to be ready"

inputs:
  deployment-label:
    description: "The label to use to identify the deployment. (e.g. `key=value`)"
    required: true
  namespace:
    description: "The namespace to wait for the deployment in"
    required: true
  timeout:
    description: "The timeout to wait for the deployment to be ready (default: `600s` for 10 minutes)"
    required: false
    default: "600s"

runs:
  using: composite
  steps:
    - id: wait-for-deployment
      name: Wait for deployment
      env:
        DEPLOYMENT_LABEL: ${{ inputs.deployment-label }}
        NAMESPACE: ${{ inputs.namespace }}
        TIMEOUT: ${{ inputs.timeout }}
      run: |
          set -eo pipefail 

          DEPLOYMENTS=$(kubectl get deployment -l ${{ env.DEPLOYMENT_LABEL }} -n ${{ env.NAMESPACE }} -o jsonpath='{.items[*].metadata.name}')
          if [ -z "$DEPLOYMENTS" ]; then
            echo "ERROR: No deployments found with label ${{ env.DEPLOYMENT_LABEL }} in namespace ${{ env.NAMESPACE }}"
            exit 1
          fi

          for deployment in $DEPLOYMENTS; do
            echo "Waiting for deployment/$deployment to be ready..."
            if ! kubectl rollout status deployment/$deployment -n ${{ env.NAMESPACE }} --timeout ${{ env.TIMEOUT }}; then
              echo "ERROR: Deployment $deployment failed to roll out within timeout period"
              exit 1
            fi
            echo "✓ Deployment $deployment is ready."
          done          
          echo "✓ All deployments are ready."
      shell: bash