---
on:
  workflow_call:
    inputs:
      gar:
        required: false
        type: boolean
        default: true
        description: "Wether to push to Google Artifcat Registry"
      file:
        required: false
        type: string
        default: "Dockerfile"
        description: "Path to Dockerfile"
      context:
        required: false
        type: string
        default: "./"
        description: "Context to build image (default: ./)"
      app:
        required: true
        type: string
        description: "Name of the app, to use for the registry: ${url}/${repo}/${app}"
      region:
        required: false
        default: "europe-west1"
        type: string
        description: "Region or zone for Google Artifact Registry"
      export:
        required: false
        default: false
        type: boolean
        description: "Set to true if the image should be available to other jobs in the same Action"
      repo:
        required: false
        type: string
        description: "Name of the repo to upload image: ${url}/${repo}/${app}"
      wif_project_id:
        required: true
        type: string
        description: "Project ID for WIF (GCP Authentication)"
      wif_pool:
        required: true
        type: string
        description: "Pool for WIF (GCP Authentication)"
      wif_provider:
        required: true
        type: string
        description: "Provider for WIF (GCP Authentication)"
      wif_service_account:
        required: true
        type: string
        description: "Service account for WIF (GCP Authentication)"

jobs:
  build-and-push:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set some ENV
        run: |
          export COMMIT_TIME=$(git show -s --format=%ct)
          echo "TIME=$( date -d@$COMMIT_TIME -u +"%Y-%m-%dT%H%M")" >> $GITHUB_ENV
          echo "SHORT_SHA=$( git rev-parse --short=7 HEAD )" >> $GITHUB_ENV
          if [[ -z "${{ inputs.repo }}" ]]; then
            echo "REPO_URL=${{ inputs.region }}-docker.pkg.dev/fcm-platform-artifacts-ceba/${{ inputs.app }}/${{ inputs.app }}" >> $GITHUB_ENV
          else
            echo "REPO_URL=${{ inputs.region }}-docker.pkg.dev/fcm-platform-artifacts-ceba/${{ inputs.repo }}/${{ inputs.app }}" >> $GITHUB_ENV
          fi

      - id: auth-gcp-wif
        name: Authenticate to GCP via WIF
        uses: fcm-digital/.github/.github/actions/google-cloud-platform/auth@v4.1.0
        with:
          gcp_wif_project_id: ${{ inputs.wif_project_id }}
          gcp_wif_pool: ${{ inputs.wif_pool }}
          gcp_wif_provider: ${{ inputs.wif_provider }}
          gcp_wif_service_account: ${{ inputs.wif_service_account }}
          setup_gcloud_sdk: False

      - id: login-gar
        if: steps.auth-gcp-wif.outcome == 'success'
        name: Login to GAR
        uses: fcm-digital/.github/.github/actions/google-cloud-platform/gar-login@v4.1.0
        with:
          gcp_wif_access_token: ${{ steps.auth-gcp-wif.outputs.access_token }}

      - name: "Build & push to GAR [${{ inputs.region }}]"
        uses: docker/build-push-action@v6
        if: ${{ inputs.gar }}
        with:
          file: ${{ inputs.file }}
          context: ${{ inputs.context }}
          push: true
          tags: |
            ${{ env.REPO_URL }}:${{ github.ref_name }}
            ${{ env.REPO_URL }}:${{ github.ref_name }}-${{ env.TIME }}-${{ env.SHORT_SHA }}

      - name: "Build & push to GAR [${{ inputs.region }}] latest tag"
        uses: docker/build-push-action@v6
        if: ${{ ( endsWith(github.ref, '/master') || endsWith(github.ref, '/main') ) && inputs.gar }}
        with:
          file: ${{ inputs.file }}
          context: ${{ inputs.context }}
          push: true
          tags: |
            ${{ env.REPO_URL }}:latest

      - if: ${{ inputs.export }}
        name: "Export Docker image as Github Artifact"
        uses: fcm-digital/.github/.github/actions/export-image@main
        with:
          app: ${{ inputs.app }}
          file: ${{ inputs.file }}
          context: ${{ inputs.context }}
          region: ${{ inputs.region }}
